<%- include('../partials/_heading.ejs') %>

<div class="flex flex-col gap-8 justify-center py-24 items-center">
  <div class="text-center flex flex-col gap-2">
    <h1 class="text-6xl tracking-tight font-black capitalize max-xs:text-3xl">
      Find your dream job
    </h1>
    <p class="text-lg max-xs:text-sm">Find job easily through smart search</p>
  </div>

  <form
    class="flex gap-2 items-center border border-slate-300 p-3 rounded-md max-xs:flex-col"
  >
    <input
      type="text"
      name="job-title"
      id="job-title"
      placeholder="Job Title"
      class="px-4 py-2 border border-slate-300 rounded max-xs:w-full"
    />
    <select
      name="experience"
      id="experience"
      class="px-4 py-2 rounded border border-slate-300 max-xs:w-full"
    >
      <option value="" disabled selected>Experience</option>
      <!-- Add more options here -->
    </select>

    <select
      name="location"
      id="location"
      class="px-4 py-2 rounded border border-slate-300 max-xs:w-full"
    >
      <option value="" disabled selected>Location</option>
      <!-- Add more options here -->
    </select>
    <button
      class="px-4 py-2 border-2 border-orange-500 rounded text-orange-500 max-xs:w-full"
    >
      Find a Job
    </button>
  </form>
</div>

<section class="px-12 py-8 flex flex-col gap-8">
  <h2 class="text-2xl font-bold">Recommended Jobs</h2>
  <div class="flex gap-2">
    <div class="border border-slate-200">
      <div class="job-header">
        <img src="" alt="" class="w-8 h-8 rounded-full" />
        <h2>Test Job</h2>
        <svg
          class="remove-icon"
          data-job-id="${index}"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 6L6 18"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <h3>Test company</h3>
      <p><strong>Category:</strong> test category</p>
      <div class="job-description">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non eveniet
          iste mollitia quaerat dolorum reiciendis officiis assumenda aperiam
          nesciunt!
        </p>
      </div>
      <button class="view-more-btn" data-job-id="${index}">View More</button>
      <div class="job-details" id="job-details-${index}" style="display: none">
        <div class="job-qualifications">
          <h4>Qualifications:</h4>
          test css
        </div>
        <div class="job-requirements">
          <h4>Requirements:</h4>
          css html
        </div>
        <!-- ${
          jobPostData.uploadedImage
            ? `<img src="${jobPostData.uploadedImage}" alt="Job Image" class="job-image">`
            : ""
        } -->
      </div>
    </div>
  </div>
</section>

<%- include('../partials/_footer.ejs') %>
