<footer class="px-8 py-2 max-xs:px-6 "> 
    <div class="border-t border-slate-200">
      <div class="flex justify-between py-8 max-xs:flex-col max-sm:gap-4">
          <a href="/" class="footer-logo">
            <img
              src="https://presidential.edu.np/file-manager/photos/1/logo.svg"
              alt="Logo"
              class="w-48"
            />
          </a>
  
        <div>
          <ul class="flex flex-col gap-1">
            <li class="flex gap-2 items-center text-slate-500 max-xs:text-sm">
              <i class="fa-solid fa-phone"></i>
              <p>
                01-5244306,
                01-5245006,
                9767658631,
                9841343705
              </p>
            </li>
            <li class="flex gap-2 items-center text-slate-500 max-xs:text-sm">
              <i class="fa-solid fa-envelope"></i>
              <p>
                info@presidential.edu.np
              </p>
            </li>
            <li class="flex gap-2 items-center text-slate-500 max-xs:text-sm">
              <i class="fa-solid fa-location-dot"></i>
              <p>Thapagaun, New Baneshwor, Kathmandu
                </p>
            </li>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex justify-between border-t border-slate-200 py-4 max-xs:flex-col max-xs:gap-4">
        <p class="text-slate-500 max-xs:text-sm">&copy; <%- new Date().getFullYear() %> Presidential Graduate School All right reserved  </p>
        <ul class="flex gap-4">
          <li>
            <a href="#" class="text-slate-400 hover:text-slate-600"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#" class="text-slate-400 hover:text-slate-600"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#" class="text-slate-400 hover:text-slate-600"><i class="fa-brands fa-square-x-twitter"></i></a>
          </li>
          <li>
            <a href="#" class="text-slate-400 hover:text-slate-600"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#" class="text-slate-400 hover:text-slate-600"><i class="fa-brands fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
  <!-- <script src="/scripts/displayJobs.js"></script> -->
  <script src="/scripts/removeJobs.js"></script>
  <script src="/scripts/login.js"></script>

</body>
</html>
