<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css">
    <!-- <link rel="stylesheet" href="/css/landing.css"> -->
    <!-- <link rel="stylesheet" href="/css/admin.css"> -->
   <!-- <link rel="stylesheet" href="/css/apply.css">
    <link rel="stylesheet" href="/css/login.css"> -->
    <title>
      <%= title %> | Official Job Portal of Presidential Graduate School
    </title>
    <link rel="shortcut icon" href="/image/logo/favicon.png" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>

<div class="mx-auto grid min-h-[100dvh] max-w-screen-2xl grid-rows-[auto_1fr_auto]">
<nav
class="flex justify-between items-center bg-white shadow-md shadow-slate-100 py-[0.5rem] px-12 max-xs:flex-col"
>
<div>
  <a href="/">
    <img
      src="https://presidential.edu.np/file-manager/photos/1/logo.svg"
      alt="Company Logo"
      class="w-36"
    />
  </a>
</div>
<div>
  <ul class="flex gap-1">
    <li><a href="/" class="px-3 py-2">Home</a></li>
    <li><a href="/about-us" class="px-3 py-2">About</a></li>
    <li><a href="/contact" class="px-3 py-2">Contact</a></li>
    <li><a href="/post-job" class="px-3 py-2">Post a job</a></li>
    <li>
      <a
        href="/login"
        class="px-4 py-2 bg-orange-500 hover:bg-orange-600 transition duration-75 ease-in-out text-white rounded-md font-bold"
        >Login</a
      >
    </li>
  </ul>
</div>
</nav>